*{
    margin: 0;
    padding: 0;
}
/* header css */
.header{
    background: #FF900E1A;
}
.container{
    width: 85%;
    margin: auto;
}
nav{
    line-height: 100px;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-left: 30px;
}
ul li a{
    text-decoration: none;
    color: black;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;

}
    .bannar-info{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 100px 0 50px ;

    }
    .bannar-info h1, p{
        text-align: center;
    }
    .bannar-info h1{
        font-size: 5em;
    }
    .bannar-info button, .Feature-info button{
        border: none;
        width: 150px;
        background: #FF900E;
        padding: 15px 20px;
        color: white;
        border-radius: 5px;
        margin-top: 20px;
    }
    .banner-img{
        width: 100%;
        padding-bottom: 50px;
    }
    .banner-img img{
        width: 100%;
    }
    @media screen and (max-width: 576px) {
        nav{
            padding-top: 20px;
            line-height: 40px;
            flex-direction: column;
            align-items: center;
        }
        ul li{
            margin: 0 10px;
            padding: 10 10px;
        }
        .bannar-info h1{
            font-size: 1em;
        }
        .bannar-info{
            width: 80%;
        }

    }
    /* Our Features */
    .Features-row{
        display: flex;
        align-items: center;
        margin-top: 83px;
    }
    .Feature-info {
        padding:0 30px;
    }
    .Feature-info p{
        text-align: start;
    }
    .Feature-info h1{
        font-size: 45px;
        font-weight: 400;
        color: #464646;
    }
    .Feature-info h1 .color{
        color: #FF900E;

    }

    .specal{
        font-weight: 700;
    }
  .Feature-img{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }  
  .Feature-img img{
    height: 250px;
    width: 275px;
  }
  @media screen and (max-width: 576px) {
    .Features-row{
        flex-direction: column;
    }
    .Feature-img{
        grid-template-columns: repeat(1, 1fr);
      }  
  }